.banner{
    text-align: center;
}
.activity-with-info-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activity-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}
/* .icon{
    display: flex;
    text-align: center;
    justify-content: center;
} */
